.pagination__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}

.pagination__button {
    margin: 0 .5rem;
    padding: .5rem .8rem;
}

.pagination__button.is-active {
    color: var(--c-light);
    background-color: var(--c-green);
}