.radios__label {
    line-height: 1;
}

.radios__container {
    margin: 1rem 0;
}

.radios__emulator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: .35rem;
    width: 16px;
    height: 16px;
    border: var(--border);
}

.radios__control:checked~.radios__emulator::after {
    opacity: 1;
}

.radios__emulator::after {
    content: '✓';
    opacity: 0;
}