.input {
    margin: auto;
    padding-left: 1rem;
    width: 100%;
    height: 3rem;
    font-family: var(--f-family);
    font-size: 1.5rem;
    color: var(--c-light);
    border: var(--border);
    border-radius: var(--border-radius);
}