.basket-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 18px;
    border: var(--border);
    border-radius: var(--border-radius);
}

.basket-card__total-price {
    font-weight: 600;
}

.basket-card__remove-button {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 10px;
    padding: 0;
    height: 30px;
    width: 30px;
    color: var(--c-light);
    background: var(--c-green);
}

.basket-card__remove-button:hover {
    color: var(--c-green);
    background: var(--c-light);
    transition: .3s;
}

@media screen and (max-width: 768px) {
    .basket__item {
        display: flex;
        justify-content: center;
    }

    .basket-card {
        position: relative;
        flex-direction: column;
        width: 400px;
    }
}