.form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
    color: var(--c-green);
    border: var(--border);
    border-radius: var(--border-radius);
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item__error {
    color: red;
}

.form-item__label {
    margin-bottom: .5rem;
}

.form-item__input,
.form-item__textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    color: var(--c-green);
    border: var(--border);
}

.form-item__textarea::placeholder {
    font-weight: 100;
}

.form-item__input:hover,
.form-item__textarea:hover {
    border: 2px solid var(--c-green);
    transition: .3s;
}