.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--c-green);
}

.counter__button {
    padding: 0;
    margin: .5rem;
    width: 25px;
    height: 25px;
}