.main-image {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.main-image__image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image__container {
    position: absolute;
    top: 40vh;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.container__heading {
    font-size: 4rem;
    color: var(--c-green);
}

.container__text {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--c-green);
}

.container__button {
    margin: .5rem;
}

.container__button:hover {
    color: var(--c-light);
    background: var(--c-green);
    transition: .3s;
}