.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--f-size);
}

.product-card__category {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-weight: 100;
    color: var(--c-light);
    border-radius: var(--border-radius);
    background-color: var(--c-green);
}

.product-card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card__image {
    margin-top: 2rem;
}

.product-card__container {
    margin-top: 2rem;
    text-align: center;
}

.product-card__title {
    margin-bottom: 1rem;
}

.product-card__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 100;
}

.product-card__button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--c-green);
}

.product-card__price {
    margin-bottom: 1rem;
    font-weight: 800;
}

.product-card__icon {
    font-size: 20px;
    margin-right: .5rem;
}

.product-card__counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: .15rem 1rem;
    font-size: 1rem;
    color: var(--c-green);
    text-transform: uppercase;
    border: var(--border);
    border-radius: var(--border-radius);
}