.catalog-body__list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1140px;
}

.catalog-body__item {
    color: var(--c-light);
    border: var(--border);
    border-radius: var(--border-radius);
}

.catalog-body__empty-message {
    text-align: center;
    font-size: 2rem;
    color: var(--c-light);
}

.catalog-body__icon {
    margin-left: 1rem;
    color: var(--c-light);
}

@media screen and (max-width: 768px) {
    .catalog-body__list {
        grid-template-columns: 1fr;
        margin: auto;
        max-width: 90%;
    }
}