.header {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 90px;
}

.header--background {
    border-bottom: var(--border);
    background-color: var(--c-light-transparent);
    transition: .5s;
}

.header__icon {
    margin-right: 1rem;
    font-size: 25px;
    color: var(--c-green)
}

.navigation-menu {
    display: flex;
}

.navigation-menu__item {
    padding: 0 1rem;
}

.item__link {
    font-size: 1.2rem;
    font-weight: 500;
}

.item__link:hover {
    font-weight: 900;
}


.header--hamburger {
    display: none;
}

.hamburger__icon {
    font-size: 20px;
    color: var(--c-green);
}

@media screen and (max-width:768px) {
    .header--hamburger {
        display: block;
    }

    .navigation-menu {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        background: var(--c-light-transparent);
    }

    .navigation-menu.active {
        left: 0;
    }

    .navigation-menu__item {
        padding: 1rem 0;
    }

    .item__link {
        font-size: 2rem;
    }
}