.checkbox__body {
    margin-bottom: 1rem;
}

.checkbox__emulator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: .35rem;
    width: 16px;
    height: 16px;
    border: var(--border);
}

.checkbox__emulator::after {
    content: '✓';
    opacity: 0;
}

.checkbox__label {
    line-height: 1;
}

.checkbox__control:checked~.checkbox__emulator::after {
    opacity: 1;
}