.footer {
    width: 100%;
    padding: 2rem 0;
    background: var(--c-light-transparent);
    border-top: var(--border);
}

.footer__container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

}

.left-container {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.location {
    display: flex;
    align-items: center;
}

.location__content {
    padding-bottom: 1rem;
}

.content__text {
    padding-top: 1.4rem;
    font-size: var(--f-size);
}

.content__text--bold {
    padding-top: 0;
}

.left-container__phone,
.left-container__email {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
}

.left-container__icon {
    font-size: 20px;
    margin-right: 2rem;
    color: var(--c-green)
}

.right-container {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
}

.content__text--bold,
.right-container__text--bold {
    font-size: 1.4rem;
    font-weight: 700;
}

.right-container__text {
    font-size: var(--f-size);
    padding: 1rem 0;
}

.social__icon {
    font-size: 30px;
    margin-right: 1rem;
    color: var(--c-green)
}

@media screen and (max-width:640px) {
    .footer__container {
        grid-template-columns: 1fr;
    }

    .right-container__social {
        margin: auto;
    }
}