@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

body {
  font-family: var(--f-family);
  background: var(--c-light);
}

h1,
p,
a,
h4 {
  color: var(--c-green);
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: none !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.button {
  padding: 12px 22px;
  font-size: var(--f-size);
  text-transform: uppercase;
  color: var(--c-green);
  border: var(--border);
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}


.button:hover {
  color: var(--c-light);
  background: var(--c-green)
}